body{
      background-color: rgb(54, 107, 61);
}
.container{
      width: 80%;
      margin: auto;
}
.box1{
      background-color: cadetblue;
      border-bottom: 2px crimson;
      width: 100%;
      padding: 10px;
}
#about{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 5%;
      padding-bottom: 5%;
}
#about .picture{
      float: left;
      width: 30%;
}
#about .aboutme{
      float: right;
      background-color: rgb(23, 90, 23);
      width: 50%;
      height: 220px;
      padding: 15px;
}

html{
      scroll-behavior: smooth;
}